.logo {
  color: var(--second-text-cl);

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17;
  letter-spacing: 0.03em;

  &--right-header {
    color: var(--accent-cl);
  }

  &--right-foot {
    color: var(--main-text-cl);
  }

  @media screen and (min-width: 1200px) {
    font-size: 1.625rem;
    line-height: 1.19;
      }
}
.logo-indent {
  padding-top: 16px;
  padding-bottom: 16px;
  
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
      }
     @media screen and (max-width: 1199px) {
    padding-left: 15px;
    margin-right: 87px;
      }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
      }
}