.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-desc {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-text-cl);

  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 15px 24px 150px;
  transform: translateY(100%);
  transition: var(--animac);

  @media screen and (min-width: 480px) {
    padding: 78px 24px;
    }
  @media screen and (min-width: 768px) {
    padding: 49px 24px 78px;
    }
   @media screen and (min-width: 768px) {
    padding: 66px 24px;
    }
}
