.social-network__list {
  display: flex;
  justify-content: center;
}

.network-indent {
  &:not(:last-child) {
    margin-right: 10px;
}
}

%social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: var(--animac);
}

.social-network__link--clr-team {
  @extend %social-network__link;

  color: var(--icon-color);
  background-color: var(--main-color);

  &:hover, &:focus {
    color: var(--icon-footer-cl);
    background-color: var(--btn-color);
  }
  
}

.social-network__link--clr-foot {
  @extend %social-network__link;
  
  color: var(--icon-footer-cl);
  background-color: rgba(255, 255, 255, 10%);
  
  &:hover, &:focus {
    color: var(--icon-footer-cl);
    background-color: var(--btn-color);
    }
}

.social-network__icon {
  fill: currentColor;
}




