.title {
  @media screen and (max-width: 1199px) {
  color: var(--accent-cl);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  }

  @media screen and (min-width: 1200px) {
  color: var(--accent-cl);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  } 
}

@mixin title-indent($indent) {
  margin-bottom: $indent;
}

.title--applications {
  @include title-indent(50px);
}

.title--team {
  @media screen and (max-width: 1199px) {
    @include title-indent(30px);
  }
  @media screen and (min-width: 1200px) {
    @include title-indent(50px);
  }
}

.title--customers {
  @media screen and (max-width: 1199px) {
      @include title-indent(30px);
    }
    @media screen and (min-width: 1200px) {
      @include title-indent(50px);
    }
}
