.form-label {
  position: relative;
  display: block;
  width: 100%;
}

.label-indent {
  margin-bottom: 10px;
}

.modal-label__name {
  display: block;
  text-align: start;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--icon-modal-cl);
}

// --Checkbox--

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox__add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;

  border-radius: 2px;
  outline: 2px solid var(--accent-cl);
  outline-offset: -2px;
  transition: var(--animac);
}

.checkbox-indent {
  margin-right: 8px;
}

.checkbox-line {
  letter-spacing: 0.03em;
  text-align: left;
  
  color: rgb(117, 117, 117);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.checkbox-line__link {
  color: var(--second-text-cl);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.line-indent {
  margin-left: 1px;
}

.form-checkbox__icon {
  .form-checkbox__input:checked+.form-checkbox__add & {
    opacity: 1;
    fill: #ffffff;
  }
}

.form-checkbox__add {
  .form-checkbox__input:checked+& {
    background-color: var(--btn-color);
    outline: var(--btn-color);
    transition: var(--animac);
  }
}

.form-checkbox__icon {
  opacity: 0;
}