:root {
  /* --fonts-- */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /* --text colors-- */
  --accent-cl: #212121;
  --main-text-cl: #FFFFFF;
  --second-text-cl: #2196F3;
  --email-phone-cl: #757575;
  --btn-text-color: #F5F4FA;
  --icon-footer-cl: #FFFFFF;
  --icon-modal-cl: #757575;

  /* --bacground color--*/
  --main-color: #FFFFFF;
  --second-color: #F5F4FA;
  --third-color: #2F303A;
  --section-color: #E5E5E5;
  --btn-color: #2196F3;
  --btn-bg-color: #188CE8;
  --border-color: #EEEEEE;
  --border-header-col: #ECECEC;
  --icon-color: #AFB1B8;
  --psevdo-color: #2196F3;
  --border-form-color: #2196F3;
  /* --animation--*/
  --animac: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
