.about-title {
  color: var(--accent-cl);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.about {
  justify-content: center;
  align-items: center;
}

.about__item {
  display: flex;
  flex-direction: column;
  text-align: center;
 
  @media screen and (min-width: 480px) {
    width: 450px;    
      }
  @media screen and (min-width: 768px) { 
    width: 354px;   
      }
  @media screen and (min-width: 1200px) {  
    width: 270px;    
      }
    }

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--second-color);
  width: 100%;
  height: 120px;  
    
  @media screen and (min-width: 768px) {
   width: 100%;
   height: 120px;
      }
    
  @media screen and (min-width: 1200px) {
    width: 100%;     height: 120px;
      }
  }

.about__subtitle {
  color: var(--accent-cl);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }

.subtitle-indent {
  margin-bottom: 10px;
  }

.about__text {
  color: var(--email-phone-cl);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  }
