.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../images/img-hero/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}


