.portfolio__list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }
}

.portfolio__btn-item {
  height: 38px;
  width: auto;
}

.btn-portfolio {
  &:not(:last-child) {
    margin-right: 8px;
  }

@media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

 .portfolio-indent {
   margin-bottom: 50px;

   @media screen and (max-width: 767px) {
     margin-bottom: 40px;
   }

   margin-bottom: 50px;

   @media screen and (min-width: 768px) {
     margin-bottom: 30px;
   }

   @media screen and (min-width: 1200px) {
     margin-bottom: 50px;
   }
 }

.portfolio__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  background-color: var(--second-color);
  color: var(--accent-cl);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: var(--animac);

  &:hover, &:focus {
    background-color: var(--btn-color);
    color: var(--main-text-cl);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__item {
  height: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
    }  
  @media screen and (min-width: 768px) {
    width: 354px;
    } 
  @media screen and (min-width: 1200px) {
    width: 370px;
    }
 
  &:hover, &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .overlay-desc, &:focus .overlay-desc {
      transform: translateY(0);
     }
}

.card {
  padding: 20px 24px;
  
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.card__name {
  margin-bottom: 4px;

  color: var(--accent-cl);

  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.card__desc {
  text-align: left;

  color: var(--email-phone-cl);
  
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__pic {
  width: 100%;
}